@import url(https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
:root {
  --fontColor: #555;
  --fontFamily: Muli, Arial, sans-serif;
  --colorTheme: #fab528;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
}
